In [21]:
import pandas as pd

In [22]:
!dir

 Volume in drive C has no label.
 Volume Serial Number is 322A-B5F7

 Directory of c:\Users\Juhana\Desktop\Masters_New

06/09/2023  11:33 AM    <DIR>          .
06/09/2023  11:33 AM    <DIR>          ..
06/07/2023  10:18 AM    <DIR>          2019
06/07/2023  10:18 AM    <DIR>          2020
06/07/2023  10:18 AM    <DIR>          2021
06/07/2023  10:18 AM    <DIR>          2022
06/07/2023  10:19 AM    <DIR>          2023
06/09/2023  11:17 AM    <DIR>          above10K
06/04/2023  08:07 AM             4,276 above10K_airports_ID&CODE.csv
06/04/2023  08:28 AM            32,335 above10K_airports_list.csv
06/07/2023  11:24 AM    <DIR>          above10K_list_wrangle
06/09/2023  07:39 AM    <DIR>          AC_family
06/07/2023  12:35 PM             3,740 adding_actype_description_to_time_series_deps_airline.ipynb
06/08/2023  07:56 AM             3,160 adding_state_abbreviates_to_above10K_airlines.ipynb
06/07/2023  10:48 AM            11,740 AIRCRAFT_TYPE.csv
06/07/2023  10:50 AM             5,413 airlines_code.ipynb
05/17/2023  04:53 PM            67,385 Airports_Some_Analysis.xlsx
05/22/2023  12:38 PM            37,763 airport_codes_master_analysis.csv
05/13/2023  04:00 PM           306,675 Airport_ID.csv
06/02/2023  05:49 PM    <DIR>          airport_map
06/08/2023  12:01 PM         1,337,252 annual_time_series_with_airports&airlines.csv
06/09/2023  11:33 AM         1,789,411 annual_time_series_with_airports&airlines_broad.csv
06/02/2023  09:10 PM    <DIR>          Answers to Dave
05/23/2023  05:38 PM         5,411,381 ARP-NPIAS-2023-Appendix-A.pdf
06/07/2023  11:42 AM    <DIR>          Code&support_tables
06/04/2023  04:43 PM    <DIR>          EXCL
05/29/2023  08:52 AM            44,752 EXCL_airports_list.csv
06/04/2023  08:09 AM            24,020 filter_ac_types_with_only_EXCL_airports.ipynb
06/07/2023  12:35 PM            24,027 filter_airlines_with_only_above10K_airports.ipynb
06/04/2023  03:43 PM             3,726 groupby_ac_type.ipynb
06/08/2023  08:31 AM             2,891 groupby_airport&airline_annual.ipynb
06/04/2023  09:27 AM            32,824 names_to_ac_types.ipynb
05/23/2023  05:13 PM            93,140 October_2019vs2022_AllAirports.xlsx
06/08/2023  07:58 AM            16,478 Points_to_draft.docx
06/05/2023  12:28 PM            85,065 Points_to_start_reporting.docx
06/08/2023  08:34 AM         1,881,782 quarterly_time_series_with_airports&airlines.csv
05/24/2023  02:49 PM           328,081 Sample_comparison_to_Dave.xlsx
06/02/2023  09:26 AM               256 ScratchPad.ipynb
05/23/2023  08:23 PM         6,128,467 scratch_pad.xlsx
06/09/2023  10:27 AM    <DIR>          shift_away_from_regional_jets
06/02/2023  09:29 PM    <DIR>          time_series
06/09/2023  08:59 AM    <DIR>          time_series_airlines&airports&actypes
06/04/2023  03:46 PM    <DIR>          time_series_by_actype
06/07/2023  12:49 PM         1,325,156 time_series_deps_airline_2019_@above10K.csv
06/07/2023  12:49 PM         1,086,201 time_series_deps_airline_2020_@above10K.csv
06/07/2023  12:49 PM         1,126,141 time_series_deps_airline_2021_@above10K.csv
06/07/2023  12:49 PM         1,207,284 time_series_deps_airline_2022_@above10K.csv
06/04/2023  03:50 PM    <DIR>          time_series_EXCL&above10K_airports_with_actype
06/09/2023  11:12 AM            26,162 Unite_airlines&broad_airport_data.ipynb
06/08/2023  08:55 AM             2,007 wrangling_annual_by_airport&airlines.ipynb
06/08/2023  08:55 AM             2,403 wrangling_quarterly_by_airport&airlines.ipynb
              32 File(s)     22,451,394 bytes
              19 Dir(s)  87,226,523,648 bytes free

In [23]:
df = pd.read_csv('quarterly_time_series_with_airports&airlines.csv')

In [24]:
df.head()

,ORIGIN_AIRPORT_ID,ORIGIN_STATE_ABR,CODE,NAME,AIRLINE_ID,UNIQUE_CARRIER_NAME,AIRCRAFT_TYPE,Description,2019_1Q,2019_2Q,...,2020_3Q,2020_4Q,2021_1Q,2021_2Q,2021_3Q,2021_4Q,2022_1Q,2022_2Q,2022_3Q,2022_4Q
0,10397,GA,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",19790.0,Delta Air Lines Inc.,339,Airbus Industrie A330-900,0.0,0.0,...,1.0,0.0,2.0,8.0,26.0,8.0,5.0,20.0,32.0,2.0
1,10397,GA,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",19790.0,Delta Air Lines Inc.,359,Airbus Industrie A350-900,5.0,1.0,...,10.0,7.0,19.0,59.0,38.0,139.0,227.0,64.0,133.0,187.0
2,10397,GA,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",21253.0,"Multi-Aero, Inc. d/b/a Air Choice One",415,Cessna C208B/Grand Caravan,77.0,76.0,...,78.0,78.0,66.0,52.0,0.0,0.0,NaN,NaN,NaN,NaN
3,10397,GA,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",21599.0,Boutique Air,479,Pilatus PC-12,165.0,373.0,...,280.0,158.0,154.0,156.0,141.0,139.0,143.0,116.0,0.0,0.0
4,10397,GA,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",20500.0,GoJet Airlines LLC d/b/a United Express,530,Bombardier CRJ550,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df = df[['ORIGIN_AIRPORT_ID', 'AIRLINE_ID',
       'UNIQUE_CARRIER_NAME', 'AIRCRAFT_TYPE', 'Description', '2019_1Q',
       '2019_2Q', '2019_3Q', '2019_4Q', '2020_1Q', '2020_2Q', '2020_3Q',
       '2020_4Q', '2021_1Q', '2021_2Q', '2021_3Q', '2021_4Q', '2022_1Q',
       '2022_2Q', '2022_3Q', '2022_4Q']]

In [28]:
df

,ORIGIN_AIRPORT_ID,AIRLINE_ID,UNIQUE_CARRIER_NAME,AIRCRAFT_TYPE,Description,2019_1Q,2019_2Q,2019_3Q,2019_4Q,2020_1Q,...,2020_3Q,2020_4Q,2021_1Q,2021_2Q,2021_3Q,2021_4Q,2022_1Q,2022_2Q,2022_3Q,2022_4Q
0,10397,19790.0,Delta Air Lines Inc.,339,Airbus Industrie A330-900,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,2.0,8.0,26.0,8.0,5.0,20.0,32.0,2.0
1,10397,19790.0,Delta Air Lines Inc.,359,Airbus Industrie A350-900,5.0,1.0,2.0,0.0,1.0,...,10.0,7.0,19.0,59.0,38.0,139.0,227.0,64.0,133.0,187.0
2,10397,21253.0,"Multi-Aero, Inc. d/b/a Air Choice One",415,Cessna C208B/Grand Caravan,77.0,76.0,79.0,27.0,75.0,...,78.0,78.0,66.0,52.0,0.0,0.0,NaN,NaN,NaN,NaN
3,10397,21599.0,Boutique Air,479,Pilatus PC-12,165.0,373.0,399.0,414.0,377.0,...,280.0,158.0,154.0,156.0,141.0,139.0,143.0,116.0,0.0,0.0
4,10397,20500.0,GoJet Airlines LLC d/b/a United Express,530,Bombardier CRJ550,0.0,0.0,0.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10922,15454,21618.0,"Southern Airways Express, dba Mokulele Airlines",415,Cessna C208B/Grand Caravan,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,93.0
10923,11197,21879.0,Key Lime Air Corporation,455,Fairchild Metro 23,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,27.0
10924,10617,21894.0,"ADVANCED AIR, LLC",458,Beechcraft Super King Air,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,6.0,0.0
10925,11719,20304.0,SkyWest Airlines Inc.,629,Canadair RJ-200ER /RJ-440,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0.0
10926,11719,20304.0,SkyWest Airlines Inc.,673,Embraer ERJ-175,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0.0

In [ ]:
df2 = pd.read_csv('above10K_airports_list.csv')

In [ ]:
df2

,ORIGIN_AIRPORT_ID,CODE,ORIGIN_STATE_ABR,NAME,LOCATION,category,EAS,diff,pct_change,change_category
0,10135,ABE,PA,Lehigh Valley International,Allentown/Bethlehem/Easton,100k-1 million,no,loss,-21.7,at least -20%
1,10136,ABI,TX,Abilene Regional,Abilene,10k-100k,no,loss,-16.8,at least -10%
2,10140,ABQ,NM,Albuquerque International Sunport,Albuquerque,1-5 million,no,loss,-19.7,at least -10%
3,10141,ABR,SD,Aberdeen Regional,Aberdeen,10k-100k,yes,loss,-5.4,less than -10%
4,10146,ABY,GA,Southwest Georgia Regional,Albany,10k-100k,no,loss,-5.1,less than -10%
...,...,...,...,...,...,...,...,...,...,...
349,15624,VPS,FL,Eglin AFB Destin Fort Walton Beach,Valparaiso,100k-1 million,no,loss,-1.4,less than -10%
350,15855,WST,RI,Westerly State,Westerly,10k-100k,no,loss,-10.5,at least -10%
351,15919,XNA,AR,Northwest Arkansas National,Fayetteville,100k-1 million,no,loss,-22.4,at least -20%
352,16101,YKM,WA,Yakima Air Terminal/McAllister Field,Yakima,10k-100k,no,loss,-51.0,at least -30%
353,16869,XWA,ND,Williston Basin International,Williston,10k-100k,no,loss,-28.0,at least -20%

In [29]:
merged_df = df.merge(df2, on='ORIGIN_AIRPORT_ID')

In [30]:
merged_df

,ORIGIN_AIRPORT_ID,AIRLINE_ID,UNIQUE_CARRIER_NAME,AIRCRAFT_TYPE,Description,2019_1Q,2019_2Q,2019_3Q,2019_4Q,2020_1Q,...,2022_4Q,CODE,ORIGIN_STATE_ABR,NAME,LOCATION,category,EAS,diff,pct_change,change_category
0,10397,19790.0,Delta Air Lines Inc.,339,Airbus Industrie A330-900,0.0,0.0,1.0,0.0,0.0,...,2.0,ATL,GA,Hartsfield-Jackson Atlanta International,Atlanta,more than 5 million,no,loss,-20.6,at least -20%
1,10397,19790.0,Delta Air Lines Inc.,359,Airbus Industrie A350-900,5.0,1.0,2.0,0.0,1.0,...,187.0,ATL,GA,Hartsfield-Jackson Atlanta International,Atlanta,more than 5 million,no,loss,-20.6,at least -20%
2,10397,21253.0,"Multi-Aero, Inc. d/b/a Air Choice One",415,Cessna C208B/Grand Caravan,77.0,76.0,79.0,27.0,75.0,...,NaN,ATL,GA,Hartsfield-Jackson Atlanta International,Atlanta,more than 5 million,no,loss,-20.6,at least -20%
3,10397,21599.0,Boutique Air,479,Pilatus PC-12,165.0,373.0,399.0,414.0,377.0,...,0.0,ATL,GA,Hartsfield-Jackson Atlanta International,Atlanta,more than 5 million,no,loss,-20.6,at least -20%
4,10397,20500.0,GoJet Airlines LLC d/b/a United Express,530,Bombardier CRJ550,0.0,0.0,0.0,1.0,NaN,...,NaN,ATL,GA,Hartsfield-Jackson Atlanta International,Atlanta,more than 5 million,no,loss,-20.6,at least -20%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10922,10617,21894.0,"ADVANCED AIR, LLC",458,Beechcraft Super King Air,NaN,NaN,NaN,NaN,NaN,...,0.0,BIH,CA,Bishop Airport,Bishop,less than 10k,no,gain,NaN,other
10923,11719,20207.0,TEM Enterprises dba Avelo Airlines,612,Boeing 737-700/700LR/Max 7,NaN,NaN,NaN,NaN,NaN,...,NaN,FNL,CO,Northern Colorado Regional,Fort Collins/Loveland,less than 10k,no,gain,NaN,other
10924,11719,20207.0,TEM Enterprises dba Avelo Airlines,614,Boeing 737-800,NaN,NaN,NaN,NaN,NaN,...,0.0,FNL,CO,Northern Colorado Regional,Fort Collins/Loveland,less than 10k,no,gain,NaN,other
10925,11719,20304.0,SkyWest Airlines Inc.,629,Canadair RJ-200ER /RJ-440,NaN,NaN,NaN,NaN,NaN,...,0.0,FNL,CO,Northern Colorado Regional,Fort Collins/Loveland,less than 10k,no,gain,NaN,other
10926,11719,20304.0,SkyWest Airlines Inc.,673,Embraer ERJ-175,NaN,NaN,NaN,NaN,NaN,...,0.0,FNL,CO,Northern Colorado Regional,Fort Collins/Loveland,less than 10k,no,gain,NaN,other

In [ ]:
merged_df.columns

Index(['ORIGIN_AIRPORT_ID', 'AIRLINE_ID', 'UNIQUE_CARRIER_NAME',
       'AIRCRAFT_TYPE', 'Description', '2019', '2020', '2021', '2022', 'CODE',
       'ORIGIN_STATE_ABR', 'NAME', 'LOCATION', 'category', 'EAS', 'diff',
       'pct_change', 'change_category'],
      dtype='object')

In [31]:
merged_df = merged_df[['ORIGIN_AIRPORT_ID', 'CODE',
       'ORIGIN_STATE_ABR', 'NAME', 'LOCATION', 'category', 'EAS', 'diff',
       'pct_change', 'change_category', 'AIRLINE_ID', 'UNIQUE_CARRIER_NAME',
       'AIRCRAFT_TYPE', 'Description', '2019_1Q',
       '2019_2Q', '2019_3Q', '2019_4Q', '2020_1Q', '2020_2Q', '2020_3Q',
       '2020_4Q', '2021_1Q', '2021_2Q', '2021_3Q', '2021_4Q', '2022_1Q',
       '2022_2Q', '2022_3Q', '2022_4Q']]

In [32]:
merged_df.head()

,ORIGIN_AIRPORT_ID,CODE,ORIGIN_STATE_ABR,NAME,LOCATION,category,EAS,diff,pct_change,change_category,...,2020_3Q,2020_4Q,2021_1Q,2021_2Q,2021_3Q,2021_4Q,2022_1Q,2022_2Q,2022_3Q,2022_4Q
0,10397,ATL,GA,Hartsfield-Jackson Atlanta International,Atlanta,more than 5 million,no,loss,-20.6,at least -20%,...,1.0,0.0,2.0,8.0,26.0,8.0,5.0,20.0,32.0,2.0
1,10397,ATL,GA,Hartsfield-Jackson Atlanta International,Atlanta,more than 5 million,no,loss,-20.6,at least -20%,...,10.0,7.0,19.0,59.0,38.0,139.0,227.0,64.0,133.0,187.0
2,10397,ATL,GA,Hartsfield-Jackson Atlanta International,Atlanta,more than 5 million,no,loss,-20.6,at least -20%,...,78.0,78.0,66.0,52.0,0.0,0.0,NaN,NaN,NaN,NaN
3,10397,ATL,GA,Hartsfield-Jackson Atlanta International,Atlanta,more than 5 million,no,loss,-20.6,at least -20%,...,280.0,158.0,154.0,156.0,141.0,139.0,143.0,116.0,0.0,0.0
4,10397,ATL,GA,Hartsfield-Jackson Atlanta International,Atlanta,more than 5 million,no,loss,-20.6,at least -20%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
merged_df.to_csv('quarterly_time_series_with_airports&airlines_broad.csv', index=False)