In [1]:
import pandas as pd

In [2]:
!dir

 Volume in drive C has no label.
 Volume Serial Number is 322A-B5F7

 Directory of c:\Users\Juhana\Desktop\Masters_New\above10K

06/09/2023  09:15 PM    <DIR>          .
06/09/2023  09:15 PM    <DIR>          ..
06/09/2023  09:15 PM            10,364 adding_pax_diff.ipynb
06/05/2023  10:14 AM            50,743 analysis_categories.ipynb
06/05/2023  10:10 AM            29,316 analysis_categories_pax.ipynb
06/09/2023  09:13 PM           180,860 annual_combined.xlsx
06/04/2023  04:16 PM            40,804 annual_deps_clusters_above10K.csv
06/04/2023  04:49 PM            41,939 annual_pax_clusters_above10K.csv
06/05/2023  10:16 AM            30,145 create_annual&quarterly_with_above10K.ipynb
06/09/2023  02:27 PM    <DIR>          pct_changes_per_cluster
06/08/2023  12:32 PM            59,079 quarterly_deps_clusters_above10K.csv
06/04/2023  04:19 PM            68,160 quarterly_pax_clusters_above10K.csv
06/05/2023  12:17 PM    <DIR>          states
06/09/2023  09:15 PM    <DIR>          time_series_airlines&airports&actypes
06/04/2023  05:27 PM    <DIR>          totals_per_cluster
06/08/2023  02:53 PM            38,679 Williston_update.docx
              10 File(s)        550,089 bytes
               6 Dir(s)  87,987,265,536 bytes free

In [3]:
df = pd.read_csv('annual_pax_clusters_above10K.csv')

In [4]:
df.head()

,ORIGIN_AIRPORT_ID,CODE,ORIGIN_STATE_ABR,NAME,LOCATION,category,EAS,diff,pct_change,change_category,total_2019,total_2020,total_2021,total_2022
0,10135,ABE,PA,Lehigh Valley International,Allentown/Bethlehem/Easton,100k-1 million,no,loss,-21.7,at least -20%,437600,190303,356294,422995
1,10136,ABI,TX,Abilene Regional,Abilene,10k-100k,no,loss,-16.8,at least -10%,86769,46449,79810,73914
2,10140,ABQ,NM,Albuquerque International Sunport,Albuquerque,1-5 million,no,loss,-19.7,at least -10%,2695239,896302,1720416,2365700
3,10141,ABR,SD,Aberdeen Regional,Aberdeen,10k-100k,yes,loss,-5.4,less than -10%,28782,14393,21842,21768
4,10146,ABY,GA,Southwest Georgia Regional,Albany,10k-100k,no,loss,-5.1,less than -10%,41460,17388,32015,35055

In [5]:
df.columns

Index(['ORIGIN_AIRPORT_ID', 'CODE', 'ORIGIN_STATE_ABR', 'NAME', 'LOCATION',
       'category', 'EAS', 'diff', 'pct_change', 'change_category',
       'total_2019', 'total_2020', 'total_2021', 'total_2022'],
      dtype='object')

In [6]:
df['pax_diff'] = df.apply(lambda row: 'gain' if row['total_2022'] > row['total_2019'] 
                          else ('loss' if row['total_2022'] < row['total_2019'] else 'unchanged'), axis=1)

In [7]:
df.head()

,ORIGIN_AIRPORT_ID,CODE,ORIGIN_STATE_ABR,NAME,LOCATION,category,EAS,diff,pct_change,change_category,total_2019,total_2020,total_2021,total_2022,pax_diff
0,10135,ABE,PA,Lehigh Valley International,Allentown/Bethlehem/Easton,100k-1 million,no,loss,-21.7,at least -20%,437600,190303,356294,422995,loss
1,10136,ABI,TX,Abilene Regional,Abilene,10k-100k,no,loss,-16.8,at least -10%,86769,46449,79810,73914,loss
2,10140,ABQ,NM,Albuquerque International Sunport,Albuquerque,1-5 million,no,loss,-19.7,at least -10%,2695239,896302,1720416,2365700,loss
3,10141,ABR,SD,Aberdeen Regional,Aberdeen,10k-100k,yes,loss,-5.4,less than -10%,28782,14393,21842,21768,loss
4,10146,ABY,GA,Southwest Georgia Regional,Albany,10k-100k,no,loss,-5.1,less than -10%,41460,17388,32015,35055,loss

In [8]:
df.to_csv('annual_pax_clusters_above10K.csv', index=False)