In [1]:
import pandas as pd

In [2]:
!dir

 Volume in drive C has no label.
 Volume Serial Number is 322A-B5F7

 Directory of c:\Users\Juhana\Desktop\Masters_New\above10K\time_series_destinations\time_series_destinations_airline&actype\deps

06/18/2023  05:00 PM    <DIR>          .
06/18/2023  05:00 PM    <DIR>          ..
06/18/2023  03:54 PM             2,906 groupby_destinations_by_airline_annual.ipynb
06/18/2023  09:15 AM         1,091,062 time_series_deps_by_airline&actype_2019_@above10K.csv
06/18/2023  09:15 AM           919,803 time_series_deps_by_airline&actype_2020_@above10K.csv
06/18/2023  09:15 AM           938,387 time_series_deps_by_airline&actype_2021_@above10K.csv
06/18/2023  09:15 AM           997,617 time_series_deps_by_airline&actype_2022_@above10K.csv
06/18/2023  09:16 AM           400,333 time_series_dest_deps_by_airline_2019_@above10K.csv
06/18/2023  09:16 AM           361,346 time_series_dest_deps_by_airline_2020_@above10K.csv
06/18/2023  09:16 AM           354,113 time_series_dest_deps_by_airline_2021_@above10K.csv
06/18/2023  09:16 AM           364,285 time_series_dest_deps_by_airline_2022_@above10K.csv
06/18/2023  05:00 PM             7,547 wrangling_annual_by_airline&dest.ipynb
              10 File(s)      5,437,399 bytes
               2 Dir(s)  84,438,044,672 bytes free

In [3]:
df = pd.read_csv('time_series_dest_deps_by_airline_2019_@above10K.csv')

In [4]:
df.columns

Index(['AIRLINE_ID', 'UNIQUE_CARRIER_NAME', 'DEST_AIRPORT_ID', 'DEST',
       'DEST_CITY_NAME', 'DEST_STATE_ABR', 'Jan', 'Feb', 'Mar', 'Apr', 'May',
       'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'total'],
      dtype='object')

In [6]:
# Define the list of years
years = ['2019', '2020', '2021', '2022']

# List of months
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

# Initial dataframe
output_df = None

for year in years:
    # Load the data
    filename = f"time_series_dest_deps_by_airline_{year}_@above10K.csv"
    df = pd.read_csv(filename)

    # Calculate the annual total and create a new dataframe with it
    df[year] = df[months].sum(axis=1)
    df_yearly = df.drop(months + ['total'], axis=1)

    # Merge with the output dataframe
    if output_df is None:
        output_df = df_yearly
    else:
        output_df = pd.merge(output_df, df_yearly, how='outer', on=['AIRLINE_ID', 'UNIQUE_CARRIER_NAME', 'DEST_AIRPORT_ID', 'DEST',
       'DEST_CITY_NAME', 'DEST_STATE_ABR'])

# Save the output to a single file
output_df.to_csv('annual_time_series_deps_by_airline&dest.csv', index=False)

In [7]:
df2 = pd.read_csv('annual_time_series_deps_by_airline&dest.csv')

In [8]:
# Get a list of unique 'ORIGIN_AIRPORT_ID'
airline_ids = df2['AIRLINE_ID'].unique()

# Calculate the number of unique 'ORIGIN_AIRPORT_ID'
num_unique_airline_ids = len(airline_ids)

# Print the number of unique 'ORIGIN_AIRPORT_ID'
print(f"Number of unique ORIGIN_AIRPORT_ID: {num_unique_airline_ids}")

# Print the list of unique 'ORIGIN_AIRPORT_ID'
print(f"List of unique ORIGIN_AIRPORT_ID: {list(airline_ids)}")

Number of unique ORIGIN_AIRPORT_ID: 50
List of unique ORIGIN_AIRPORT_ID: [19393.0, 19687.0, 19690.0, 19790.0, 19805.0, 19930.0, 19977.0, 20046.0, 20237.0, 20253.0, 20257.0, 20272.0, 20273.0, 20289.0, 20304.0, 20363.0, 20366.0, 20368.0, 20378.0, 20397.0, 20398.0, 20401.0, 20409.0, 20416.0, 20422.0, 20427.0, 20436.0, 20445.0, 20452.0, 20500.0, 21080.0, 21167.0, 21242.0, 21253.0, 21477.0, 21599.0, 21618.0, 21635.0, 21636.0, 21712.0, 21743.0, 21879.0, 21894.0, 21964.0, 20330.0, 21492.0, 20207.0, 21835.0, 22080.0, 22081.0]