In [1]:
import pandas as pd

In [29]:
df1 = pd.read_csv('airport_codes_master_analysis.csv')

In [30]:
df1

,ORIGIN_AIRPORT_ID,CODE,ORIGIN_STATE_ABR,NAME,LOCATION
0,10005,05A,AK,Little Squaw Airport,Little Squaw
1,10006,06A,AK,Kizhuyak Bay,Kizhuyak
2,10011,GCW,AZ,Grand Canyon West,Peach Springs
3,10039,A26,AK,Ivotuk Airstrip,Ivotuk
4,10042,A29,AK,Kiluda Bay Airport,Kiluda Bay
...,...,...,...,...,...
808,16869,XWA,ND,Williston Basin International,Williston
809,16879,T4X,TX,Llano Municipal,Llano
810,16923,1AK,AK,Mertarvik Quarry Road Landing Strip,Mertarvik
811,16929,2AK,AK,Deer Park Airport,Deer Park
812,16954,BNH,MA,Boston Harbor Seaplane Base,Boston

In [31]:
df2 = pd.read_csv('monthly/time_series_deps/time_series_deps_airport_2022.csv')

In [32]:
merged_df = df1.merge(df2, on='ORIGIN_AIRPORT_ID', how='inner')

In [33]:
merged_df

,ORIGIN_AIRPORT_ID,CODE,ORIGIN_STATE_ABR_x,NAME,LOCATION,ORIGIN_STATE_ABR_y,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,total
0,10006,06A,AK,Kizhuyak Bay,Kizhuyak,AK,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,10011,GCW,AZ,Grand Canyon West,Peach Springs,AZ,NaN,NaN,8.0,8.0,9.0,1.0,3.0,9.0,9.0,11.0,NaN,NaN,58.0
2,10056,A43,AK,Trident Basin Seaplane Base,Kodiak Island,AK,13.0,13.0,14.0,16.0,27.0,41.0,41.0,39.0,32.0,16.0,19.0,18.0,289.0
3,10135,ABE,PA,Lehigh Valley International,Allentown/Bethlehem/Easton,PA,383.0,346.0,440.0,490.0,503.0,499.0,503.0,479.0,355.0,392.0,370.0,331.0,5091.0
4,10136,ABI,TX,Abilene Regional,Abilene,TX,148.0,110.0,156.0,177.0,181.0,180.0,175.0,188.0,177.0,185.0,149.0,98.0,1924.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
734,16869,XWA,ND,Williston Basin International,Williston,ND,101.0,99.0,114.0,92.0,115.0,140.0,145.0,148.0,156.0,154.0,120.0,97.0,1481.0
735,16879,T4X,TX,Llano Municipal,Llano,TX,NaN,NaN,NaN,NaN,NaN,1.0,9.0,8.0,8.0,NaN,NaN,NaN,26.0
736,16923,1AK,AK,Mertarvik Quarry Road Landing Strip,Mertarvik,AK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,6.0,7.0,8.0,NaN,30.0
737,16929,2AK,AK,Deer Park Airport,Deer Park,AK,1.0,1.0,1.0,NaN,NaN,NaN,2.0,1.0,NaN,NaN,1.0,NaN,7.0
738,16954,BNH,MA,Boston Harbor Seaplane Base,Boston,MA,NaN,NaN,6.0,38.0,41.0,47.0,50.0,41.0,29.0,22.0,15.0,4.0,293.0

In [34]:
merged_df.drop('ORIGIN_STATE_ABR_y', axis=1, inplace=True)
merged_df

,ORIGIN_AIRPORT_ID,CODE,ORIGIN_STATE_ABR_x,NAME,LOCATION,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,total
0,10006,06A,AK,Kizhuyak Bay,Kizhuyak,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,10011,GCW,AZ,Grand Canyon West,Peach Springs,NaN,NaN,8.0,8.0,9.0,1.0,3.0,9.0,9.0,11.0,NaN,NaN,58.0
2,10056,A43,AK,Trident Basin Seaplane Base,Kodiak Island,13.0,13.0,14.0,16.0,27.0,41.0,41.0,39.0,32.0,16.0,19.0,18.0,289.0
3,10135,ABE,PA,Lehigh Valley International,Allentown/Bethlehem/Easton,383.0,346.0,440.0,490.0,503.0,499.0,503.0,479.0,355.0,392.0,370.0,331.0,5091.0
4,10136,ABI,TX,Abilene Regional,Abilene,148.0,110.0,156.0,177.0,181.0,180.0,175.0,188.0,177.0,185.0,149.0,98.0,1924.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
734,16869,XWA,ND,Williston Basin International,Williston,101.0,99.0,114.0,92.0,115.0,140.0,145.0,148.0,156.0,154.0,120.0,97.0,1481.0
735,16879,T4X,TX,Llano Municipal,Llano,NaN,NaN,NaN,NaN,NaN,1.0,9.0,8.0,8.0,NaN,NaN,NaN,26.0
736,16923,1AK,AK,Mertarvik Quarry Road Landing Strip,Mertarvik,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,6.0,7.0,8.0,NaN,30.0
737,16929,2AK,AK,Deer Park Airport,Deer Park,1.0,1.0,1.0,NaN,NaN,NaN,2.0,1.0,NaN,NaN,1.0,NaN,7.0
738,16954,BNH,MA,Boston Harbor Seaplane Base,Boston,NaN,NaN,6.0,38.0,41.0,47.0,50.0,41.0,29.0,22.0,15.0,4.0,293.0

In [35]:
merged_df.rename(columns={'ORIGIN_STATE_ABR_x': 'ORIGIN_STATE_ABR'}, inplace=True)
merged_df

,ORIGIN_AIRPORT_ID,CODE,ORIGIN_STATE_ABR,NAME,LOCATION,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,total
0,10006,06A,AK,Kizhuyak Bay,Kizhuyak,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,10011,GCW,AZ,Grand Canyon West,Peach Springs,NaN,NaN,8.0,8.0,9.0,1.0,3.0,9.0,9.0,11.0,NaN,NaN,58.0
2,10056,A43,AK,Trident Basin Seaplane Base,Kodiak Island,13.0,13.0,14.0,16.0,27.0,41.0,41.0,39.0,32.0,16.0,19.0,18.0,289.0
3,10135,ABE,PA,Lehigh Valley International,Allentown/Bethlehem/Easton,383.0,346.0,440.0,490.0,503.0,499.0,503.0,479.0,355.0,392.0,370.0,331.0,5091.0
4,10136,ABI,TX,Abilene Regional,Abilene,148.0,110.0,156.0,177.0,181.0,180.0,175.0,188.0,177.0,185.0,149.0,98.0,1924.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
734,16869,XWA,ND,Williston Basin International,Williston,101.0,99.0,114.0,92.0,115.0,140.0,145.0,148.0,156.0,154.0,120.0,97.0,1481.0
735,16879,T4X,TX,Llano Municipal,Llano,NaN,NaN,NaN,NaN,NaN,1.0,9.0,8.0,8.0,NaN,NaN,NaN,26.0
736,16923,1AK,AK,Mertarvik Quarry Road Landing Strip,Mertarvik,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,6.0,7.0,8.0,NaN,30.0
737,16929,2AK,AK,Deer Park Airport,Deer Park,1.0,1.0,1.0,NaN,NaN,NaN,2.0,1.0,NaN,NaN,1.0,NaN,7.0
738,16954,BNH,MA,Boston Harbor Seaplane Base,Boston,NaN,NaN,6.0,38.0,41.0,47.0,50.0,41.0,29.0,22.0,15.0,4.0,293.0

In [36]:
merged_df.to_csv('monthly/time_series_deps/time_series_deps_airport_2022.csv', index=False)