In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('airport_codes_master_analysis.csv')

In [3]:
df = df[['ORIGIN_AIRPORT_ID']]

In [4]:
df

     ORIGIN_AIRPORT_ID
0                10005
1                10006
2                10011
3                10039
4                10042
..                 ...
808              16869
809              16879
810              16923
811              16929
812              16954

[813 rows x 1 columns]

In [8]:
# Define the months in order
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
# Define the years
years = ['2019', '2020', '2021', '2022']

# Loop through each year
for year in years:
    # Define your initial DataFrame with just three columns
    output_df = pd.DataFrame(columns=['ORIGIN_AIRPORT_ID', 'NAME', 'AIRLINE_ID', 'UNIQUE_CARRIER_NAME', 'AIRCRAFT_TYPE', 'DEST_AIRPORT_ID', 'DEST', 'DEST_CITY_NAME', 'DEST_STATE_ABR'])

    # Loop through each month
    for month in months:
        # Define the filename
        filename = f'{year}/destinations{year}/destinations_{month}{year}.csv'
        
        # Read the csv file into a DataFrame
        df = pd.read_csv(filename)
        
        # Merge the read DataFrame with your output DataFrame, adding a column with the month as its name
        output_df = pd.merge(output_df, df[['ORIGIN_AIRPORT_ID', 'NAME', 'AIRLINE_ID', 'UNIQUE_CARRIER_NAME', 'AIRCRAFT_TYPE', 'DEST_AIRPORT_ID', 'DEST', 'DEST_CITY_NAME', 'DEST_STATE_ABR', 'PASSENGERS']], 
                             on=['ORIGIN_AIRPORT_ID', 'NAME', 'AIRLINE_ID', 'UNIQUE_CARRIER_NAME', 'AIRCRAFT_TYPE', 'DEST_AIRPORT_ID', 'DEST', 'DEST_CITY_NAME', 'DEST_STATE_ABR'], how='outer')

        # Rename the 'DEPARTURES_PERFORMED' column to the respective month
        output_df = output_df.rename(columns={'PASSENGERS': month})

    # Add the 'total' column, which is the sum of all month columns for each row
    output_df['total'] = output_df[months].sum(axis=1)

    # Save the final DataFrame to a csv file
    output_df.to_csv(f'time_series_pax_destinations_{year}.csv', index=False)