In [1]:
import pandas as pd

In [23]:
!dir

 Volume in drive C has no label.
 Volume Serial Number is 322A-B5F7

 Directory of c:\Users\Juhana\Desktop\Masters_New\above10K\totals_per_cluster

06/04/2023  05:18 PM    <DIR>          .
06/04/2023  05:18 PM    <DIR>          ..
06/04/2023  05:15 PM             8,521 above10K_clusters_deps_changes.xlsx
06/04/2023  04:52 PM               267 annual_deps_per_cluster_above10K.csv
06/04/2023  04:51 PM               299 annual_pax_per_cluster_above10K.csv
06/04/2023  05:08 PM            40,726 quarterly_changes_per_cluster.ipynb
06/04/2023  04:46 PM               710 quarterly_deps_per_cluster_above10K.csv
06/04/2023  04:47 PM               841 quarterly_pax_per_cluster_above10K.csv
06/04/2023  05:07 PM            23,920 totals_per_cluster_above10K.ipynb
               7 File(s)         75,284 bytes
               2 Dir(s)  87,978,749,952 bytes free

In [2]:
df = pd.read_csv('quarterly_deps_per_cluster_above10K.csv')

In [3]:
df.columns

Index(['category', '1Q2019', '2Q2019', '3Q2019', '4Q2019', '1Q2020', '2Q2020',
       '3Q2020', '4Q2020', '1Q2021', '2Q2021', '3Q2021', '4Q2021', '1Q2022',
       '2Q2022', '3Q2022', '4Q2022'],
      dtype='object')

In [49]:
quarter_cols = ['1Q2019', '2Q2019', '3Q2019', '4Q2019', '1Q2020', '2Q2020', '3Q2020',
       '4Q2020', '1Q2021', '2Q2021', '3Q2021', '4Q2021', '1Q2022', '2Q2022',
       '3Q2022', '4Q2022']

output_df = df[['category']].copy() # start with 'category' column

for i in range(1, len(quarter_cols)):
    # Add current quarter column
    output_df[quarter_cols[i]] = df[quarter_cols[i]]
    
    # Calculate the change from previous quarter
    output_df['change_from_' + quarter_cols[i-1] + '_to_' + quarter_cols[i]] = df[quarter_cols[i]] - df[quarter_cols[i-1]]

    # Calculate the percent change from previous quarter
    pct_change = df[quarter_cols[i]] / df[quarter_cols[i-1]] - 1
    output_df['pct_change_from_' + quarter_cols[i-1] + '_to_' + quarter_cols[i]] = round(pct_change * 100, 1) # Multiply by 100 and round to 1 decimal place

output_df[quarter_cols[0]] = df[quarter_cols[0]] # Add the first quarter column at the end

In [50]:
output_df.to_csv('quarterly_deps_per_cluster_above10K_with_changes.csv', index=False)

In [52]:
output_df

,category,2Q2019,change_from_1Q2019_to_2Q2019,pct_change_from_1Q2019_to_2Q2019,3Q2019,change_from_2Q2019_to_3Q2019,pct_change_from_2Q2019_to_3Q2019,4Q2019,change_from_3Q2019_to_4Q2019,pct_change_from_3Q2019_to_4Q2019,...,2Q2022,change_from_1Q2022_to_2Q2022,pct_change_from_1Q2022_to_2Q2022,3Q2022,change_from_2Q2022_to_3Q2022,pct_change_from_2Q2022_to_3Q2022,4Q2022,change_from_3Q2022_to_4Q2022,pct_change_from_3Q2022_to_4Q2022,1Q2019
0,more than 5 million,1469544,105225,7.7,1505870,36326,2.5,1467791,-38079,-2.5,...,1275800,103198,8.8,1310351,34551,2.7,1266256,-44095,-3.4,1364319
1,1-5 million,313620,23854,8.2,310912,-2708,-0.9,309739,-1173,-0.4,...,265272,18447,7.5,262921,-2351,-0.9,253182,-9739,-3.7,289766
2,100k-1 million,189767,19875,11.7,201572,11805,6.2,189973,-11599,-5.8,...,157819,10720,7.3,162637,4818,3.1,144156,-18481,-11.4,169892
3,10k-100k,38663,6418,19.9,45902,7239,18.7,36552,-9350,-20.4,...,33301,4629,16.1,37011,3710,11.1,28793,-8218,-22.2,32245
4,less than 10k,1174,135,13.0,1503,329,28.0,1191,-312,-20.8,...,972,-46,-4.5,1054,82,8.4,881,-173,-16.4,1039

In [53]:
output2_df = output_df[['category']].join(output_df.filter(like='pct_change_from_'))

In [54]:
output2_df

,category,pct_change_from_1Q2019_to_2Q2019,pct_change_from_2Q2019_to_3Q2019,pct_change_from_3Q2019_to_4Q2019,pct_change_from_4Q2019_to_1Q2020,pct_change_from_1Q2020_to_2Q2020,pct_change_from_2Q2020_to_3Q2020,pct_change_from_3Q2020_to_4Q2020,pct_change_from_4Q2020_to_1Q2021,pct_change_from_1Q2021_to_2Q2021,pct_change_from_2Q2021_to_3Q2021,pct_change_from_3Q2021_to_4Q2021,pct_change_from_4Q2021_to_1Q2022,pct_change_from_1Q2022_to_2Q2022,pct_change_from_2Q2022_to_3Q2022,pct_change_from_3Q2022_to_4Q2022
0,more than 5 million,7.7,2.5,-2.5,-8.5,-66.7,82.5,2.9,-0.1,33.0,13.7,-1.1,-6.7,8.8,2.7,-3.4
1,1-5 million,8.2,-0.9,-0.4,-7.7,-67.3,73.8,3.5,2.2,34.7,13.9,0.4,-6.8,7.5,-0.9,-3.7
2,100k-1 million,11.7,6.2,-5.8,-5.4,-64.7,81.8,5.4,3.0,30.4,15.2,-15.2,-7.7,7.3,3.1,-11.4
3,10k-100k,19.9,18.7,-20.4,-11.0,-45.7,68.6,-13.8,-3.5,36.7,25.6,-23.5,-12.1,16.1,11.1,-22.2
4,less than 10k,13.0,28.0,-20.8,-13.6,-48.3,32.3,-2.3,4.7,-2.2,2.1,12.9,25.4,-4.5,8.4,-16.4

In [55]:
# Prepare a dictionary for renaming
rename_dict = {col: col.split('_to_')[-1] for col in output2_df.columns if 'pct_change_from_' in col}

# Retain the 'category' column
if 'category' in output2_df.columns:
    rename_dict['category'] = 'category'

# Rename columns
output2_df.rename(columns=rename_dict, inplace=True)

In [56]:
output2_df

,category,2Q2019,3Q2019,4Q2019,1Q2020,2Q2020,3Q2020,4Q2020,1Q2021,2Q2021,3Q2021,4Q2021,1Q2022,2Q2022,3Q2022,4Q2022
0,more than 5 million,7.7,2.5,-2.5,-8.5,-66.7,82.5,2.9,-0.1,33.0,13.7,-1.1,-6.7,8.8,2.7,-3.4
1,1-5 million,8.2,-0.9,-0.4,-7.7,-67.3,73.8,3.5,2.2,34.7,13.9,0.4,-6.8,7.5,-0.9,-3.7
2,100k-1 million,11.7,6.2,-5.8,-5.4,-64.7,81.8,5.4,3.0,30.4,15.2,-15.2,-7.7,7.3,3.1,-11.4
3,10k-100k,19.9,18.7,-20.4,-11.0,-45.7,68.6,-13.8,-3.5,36.7,25.6,-23.5,-12.1,16.1,11.1,-22.2
4,less than 10k,13.0,28.0,-20.8,-13.6,-48.3,32.3,-2.3,4.7,-2.2,2.1,12.9,25.4,-4.5,8.4,-16.4

In [57]:
output2_df.to_csv('quarterly_deps_per_cluster_above10K_with_pct_change_only.csv', index=False)

In [58]:
quarter_cols = ['1Q2019', '2Q2019', '3Q2019', '4Q2019', '1Q2020', '2Q2020', '3Q2020',
       '4Q2020', '1Q2021', '2Q2021', '3Q2021', '4Q2021', '1Q2022', '2Q2022',
       '3Q2022', '4Q2022']

year_on_year_df = df[['category']].copy() # start with 'category' column

# Notice that we start from index 4 (representing 1Q2020) because we want to compare it with the same quarter of the previous year.
for i in range(4, len(quarter_cols)):
    # Add current quarter column
    year_on_year_df[quarter_cols[i]] = df[quarter_cols[i]]
    
    # Calculate the change from the same quarter of the previous year
    year_on_year_df['change_between_' + quarter_cols[i-4] + '_and_' + quarter_cols[i]] = df[quarter_cols[i]] - df[quarter_cols[i-4]]

    # Calculate the percent change from the same quarter of the previous year
    pct_change = df[quarter_cols[i]] / df[quarter_cols[i-4]] - 1
    year_on_year_df['pct_change_between_' + quarter_cols[i-4] + '_and_' + quarter_cols[i]] = round(pct_change * 100, 1) # Multiply by 100 and round to 1 decimal place

for col in quarter_cols[:4]: # Add the first 4 quarter columns at the end
    year_on_year_df[col] = df[col]

In [59]:
year_on_year_df

,category,1Q2020,change_between_1Q2019_and_1Q2020,pct_change_between_1Q2019_and_1Q2020,2Q2020,change_between_2Q2019_and_2Q2020,pct_change_between_2Q2019_and_2Q2020,3Q2020,change_between_3Q2019_and_3Q2020,pct_change_between_3Q2019_and_3Q2020,...,3Q2022,change_between_3Q2021_and_3Q2022,pct_change_between_3Q2021_and_3Q2022,4Q2022,change_between_4Q2021_and_4Q2022,pct_change_between_4Q2021_and_4Q2022,1Q2019,2Q2019,3Q2019,4Q2019
0,more than 5 million,1343031,-21288,-1.6,447636,-1021908,-69.5,817054,-688816,-45.7,...,1310351,39920,3.1,1266256,9558,0.8,1364319,1469544,1505870,1467791
1,1-5 million,286042,-3724,-1.3,93523,-220097,-70.2,162553,-148359,-47.7,...,262921,-843,-0.3,253182,-11755,-4.4,289766,313620,310912,309739
2,100k-1 million,179626,9734,5.7,63382,-126385,-66.6,115199,-86373,-42.8,...,162637,-25350,-13.5,144156,-15217,-9.5,169892,189767,201572,189973
3,10k-100k,32524,279,0.9,17671,-20992,-54.3,29795,-16107,-35.1,...,37011,-5586,-13.1,28793,-3812,-11.7,32245,38663,45902,36552
4,less than 10k,1029,-10,-1.0,532,-642,-54.7,704,-799,-53.2,...,1054,335,46.6,881,69,8.5,1039,1174,1503,1191

In [60]:
year_on_year_df.to_csv('quarterly_deps_per_cluster_above10K_with_YonY_change.csv', index=False)

In [61]:
year_on_year2_df = year_on_year_df[['category']].join(year_on_year_df.filter(like='pct_change_between_'))

In [62]:
year_on_year2_df

,category,pct_change_between_1Q2019_and_1Q2020,pct_change_between_2Q2019_and_2Q2020,pct_change_between_3Q2019_and_3Q2020,pct_change_between_4Q2019_and_4Q2020,pct_change_between_1Q2020_and_1Q2021,pct_change_between_2Q2020_and_2Q2021,pct_change_between_3Q2020_and_3Q2021,pct_change_between_4Q2020_and_4Q2021,pct_change_between_1Q2021_and_1Q2022,pct_change_between_2Q2021_and_2Q2022,pct_change_between_3Q2021_and_3Q2022,pct_change_between_4Q2021_and_4Q2022
0,more than 5 million,-1.6,-69.5,-45.7,-42.7,-37.4,149.7,55.5,49.5,39.6,14.1,3.1,0.8
1,1-5 million,-1.3,-70.2,-47.7,-45.7,-39.9,147.6,62.3,57.5,43.6,14.5,-0.3,-4.4
2,100k-1 million,5.7,-66.6,-42.8,-36.1,-30.4,157.4,63.2,31.3,17.6,-3.3,-13.5,-9.5
3,10k-100k,0.9,-54.3,-35.1,-29.7,-23.8,91.9,43.0,27.0,15.6,-1.8,-13.1,-11.7
4,less than 10k,-1.0,-54.7,-53.2,-42.2,-30.0,32.3,2.1,18.0,41.4,38.1,46.6,8.5

In [63]:
# Prepare a dictionary for renaming
rename2_dict = {col: col.split('_and_')[-1] for col in year_on_year2_df.columns if 'pct_change_between_' in col}

# Retain the 'category' column
if 'category' in year_on_year2_df.columns:
    rename2_dict['category'] = 'category'

# Rename columns
year_on_year2_df = year_on_year2_df.rename(columns=rename2_dict)

In [64]:
year_on_year2_df.to_csv('quarterly_deps_per_cluster_above10K_with_YonY_pct_change_only.csv', index=False)

In [66]:
# Assuming the following are your DataFrame objects
# df, df2, output_df, year_on_year_df

with pd.ExcelWriter('above10K_clusters_deps_changes.xlsx') as writer:
    output_df.to_excel(writer, sheet_name='changes_QonQ', index=False)
    output2_df.to_excel(writer, sheet_name='changes_QonQ_with_pct', index=False)
    year_on_year_df.to_excel(writer, sheet_name='changes_YonY', index=False)
    year_on_year2_df.to_excel(writer, sheet_name='changes_YonY_with_pct', index=False)