In [1]:
import pandas as pd

In [2]:
!dir

 Volume in drive C has no label.
 Volume Serial Number is 322A-B5F7

 Directory of c:\Users\Juhana\Desktop\Masters_New\above10K\time_series_airlines&airports&actypes\pax

06/11/2023  04:06 PM    <DIR>          .
06/11/2023  04:06 PM    <DIR>          ..
06/11/2023  04:05 PM    <DIR>          annual_by_month_times_series
06/11/2023  04:06 PM               256 annual_pax_by_airline.ipynb
06/11/2023  02:03 PM         1,439,327 annual_time_series_pax_with_airports&airlines.csv
06/11/2023  04:02 PM             2,815 groupby_airline_annual.ipynb
06/11/2023  02:30 PM         2,008,835 quarterly_time_series_pax_with_airports&airlines.csv
06/09/2023  11:39 AM            63,446 Unite_airlines&broad_airport_data.ipynb
06/11/2023  02:05 PM            18,984 wrangling_annual_by_airport&airlines_pax.ipynb
06/11/2023  02:30 PM             4,126 wrangling_quarterly_by_airport&airlines_pax.ipynb
               7 File(s)      3,537,789 bytes
               3 Dir(s)  87,686,807,552 bytes free

In [3]:
df = pd.read_csv('annual_time_series_pax_with_airports&airlines.csv')

In [6]:
df

,ORIGIN_AIRPORT_ID,CODE,NAME,AIRLINE_ID,UNIQUE_CARRIER_NAME,AIRCRAFT_TYPE,Description,2019,2020,2021,2022
0,10135,ABE,"Allentown/Bethlehem/Easton, PA: Lehigh Valley ...",19790.0,Delta Air Lines Inc.,608,Boeing 717-200,30250.0,5733.0,NaN,NaN
1,10135,ABE,"Allentown/Bethlehem/Easton, PA: Lehigh Valley ...",19790.0,Delta Air Lines Inc.,694,Airbus Industrie A320-100/200,98.0,NaN,NaN,NaN
2,10135,ABE,"Allentown/Bethlehem/Easton, PA: Lehigh Valley ...",19805.0,American Airlines Inc.,614,Boeing 737-800,160.0,39.0,9.0,NaN
3,10135,ABE,"Allentown/Bethlehem/Easton, PA: Lehigh Valley ...",19977.0,United Air Lines Inc.,612,Boeing 737-700/700LR/Max 7,112.0,NaN,NaN,NaN
4,10135,ABE,"Allentown/Bethlehem/Easton, PA: Lehigh Valley ...",19977.0,United Air Lines Inc.,614,Boeing 737-800,179.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
10922,15919,XNA,"Fayetteville, AR: Northwest Arkansas National",19790.0,Delta Air Lines Inc.,698,Airbus Industrie A319,NaN,NaN,NaN,3485.0
10923,15919,XNA,"Fayetteville, AR: Northwest Arkansas National",20304.0,SkyWest Airlines Inc.,638,Canadair CRJ 900,NaN,NaN,NaN,1584.0
10924,15919,XNA,"Fayetteville, AR: Northwest Arkansas National",22080.0,Breeze Aviation Group DBA Breeze,724,A220-300 BD-500-1A11,NaN,NaN,NaN,5368.0
10925,16101,YKM,"Yakima, WA: Yakima Air Terminal/McAllister Field",19790.0,Delta Air Lines Inc.,614,Boeing 737-800,NaN,NaN,NaN,128.0
10926,16101,YKM,"Yakima, WA: Yakima Air Terminal/McAllister Field",19930.0,Alaska Airlines Inc.,614,Boeing 737-800,NaN,NaN,NaN,145.0

In [30]:


# Perform groupby operation and calculate the yearly totals
grouped = df.groupby(['AIRCRAFT_TYPE', 'Description', 'AIRLINE_ID', 'UNIQUE_CARRIER_NAME' ])['2019', '2020', '2021', '2022'].sum().reset_index()

C:\Users\Juhana\AppData\Local\Temp\ipykernel_24320\308824035.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  grouped = df.groupby(['AIRCRAFT_TYPE', 'Description', 'AIRLINE_ID', 'UNIQUE_CARRIER_NAME' ])['2019', '2020', '2021', '2022'].sum().reset_index()

In [31]:
grouped

,AIRCRAFT_TYPE,Description,AIRLINE_ID,UNIQUE_CARRIER_NAME,2019,2020,2021,2022
0,30,Cessna 180,20272.0,Kenmore Air Harbor,3.0,5.0,0.0,1.0
1,35,Cessna C206/207/209/210 Stationair,21636.0,Gem Air LLC,71.0,44.0,47.0,0.0
2,36,Cessna 172 Skyhawk,21636.0,Gem Air LLC,3.0,6.0,4.0,0.0
3,40,De Havilland DHC2 Beaver,20272.0,Kenmore Air Harbor,977.0,1100.0,1343.0,1483.0
4,40,De Havilland DHC2 Beaver,20289.0,Friday Harbor Seaplanes,1653.0,949.0,2796.0,2109.0
...,...,...,...,...,...,...,...,...
180,888,Boeing 737-900ER,19790.0,Delta Air Lines Inc.,22719068.0,8550498.0,18160345.0,21791041.0
181,888,Boeing 737-900ER,19930.0,Alaska Airlines Inc.,11348232.0,4661885.0,9127923.0,10579724.0
182,888,Boeing 737-900ER,19977.0,United Air Lines Inc.,23791116.0,7726178.0,14484248.0,18775645.0
183,889,B787-900 Dreamliner,19805.0,American Airlines Inc.,444600.0,283656.0,740802.0,592157.0
184,889,B787-900 Dreamliner,19977.0,United Air Lines Inc.,137969.0,170542.0,561029.0,535928.0

In [32]:
grouped.to_csv('annual_pax_by_actype&airline.csv', index=False)