In [1]:
import pandas as pd

In [3]:
!dir

 Volume in drive C has no label.
 Volume Serial Number is 322A-B5F7

 Directory of c:\Users\Juhana\Desktop\Masters_New\above10K\time_series_airlines&airports&actypes\pax

06/11/2023  02:05 PM    <DIR>          .
06/11/2023  02:05 PM    <DIR>          ..
06/11/2023  01:41 PM             3,761 adding_actype_description_to_time_series_deps_airline.ipynb
06/07/2023  10:48 AM            11,740 AIRCRAFT_TYPE.csv
06/11/2023  02:03 PM         1,439,327 annual_time_series_pax_with_airports&airlines.csv
06/11/2023  01:32 PM            13,227 groupby_airline_annual.ipynb
06/11/2023  01:42 PM         1,541,121 time_series_pax_by_airport&airline_2019_@above10K.csv
06/11/2023  01:42 PM         1,263,717 time_series_pax_by_airport&airline_2020_@above10K.csv
06/11/2023  01:42 PM         1,308,458 time_series_pax_by_airport&airline_2021_@above10K.csv
06/11/2023  01:42 PM         1,402,856 time_series_pax_by_airport&airline_2022_@above10K.csv
06/09/2023  11:39 AM            63,446 Unite_airlines&broad_airport_data.ipynb
06/11/2023  02:05 PM            18,984 wrangling_annual_by_airport&airlines_pax.ipynb
06/08/2023  08:55 AM             2,403 wrangling_quarterly_by_airport&airlines.ipynb
              11 File(s)      7,069,040 bytes
               2 Dir(s)  87,732,174,848 bytes free

In [4]:
# Define the quarters
quarters = {
    '1Q': ['Jan', 'Feb', 'Mar'],
    '2Q': ['Apr', 'May', 'Jun'],
    '3Q': ['Jul', 'Aug', 'Sep'],
    '4Q': ['Oct', 'Nov', 'Dec'],
}

# Define the years
years = ['2019', '2020', '2021', '2022']

# Initial dataframe
output_df = None

for year in years:
    # Load the data
    filename = f"time_series_pax_by_airport&airline_{year}_@above10K.csv"
    df = pd.read_csv(filename)

    # Calculate the quarterly totals
    for quarter, months in quarters.items():
        df[f'{year}_{quarter}'] = df[months].sum(axis=1)
    
    # Flatten the list of lists into a single list
    months = [month for sublist in quarters.values() for month in sublist]

    df_quarterly = df.drop(months + ['total'], axis=1, errors='ignore')

    # Merge with the output dataframe
    if output_df is None:
        output_df = df_quarterly
    else:
        output_df = pd.merge(output_df, df_quarterly, how='outer', 
                             on=['ORIGIN_AIRPORT_ID', 'CODE', 'NAME', 'AIRLINE_ID', 'UNIQUE_CARRIER_NAME', 'AIRCRAFT_TYPE', 'Description'])

# Save the output to a single file
output_df.to_csv('quarterly_time_series_pax_with_airports&airlines.csv', index=False)